@mixin flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin header-bg {
    background-color: bisque;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}


.header {
    @include header-bg;
    height: 300px;
    margin: 0 auto;

    .top-header {
        @include flex;
        width: 1440px;

        .social-icons {
            @include flex;

        }

        .contact-details {
            @include flex;

        }

    }

    .bottom-header {
        @include flex;
        width: 1440px;
        margin: auto;

        .nav-links {
            @include flex;
            width: 400px;

            ul {
                list-style: none;
            }

        }

    }
}